:root {
    --bg: #404040;
    --fg: white;
    --font: Arial, Helvetica, sans-serif;
}

body {
    background-color: var(--bg);
}

h1 {
    font-family: var(--font);
    color: var(--fg);
}
h2 {
    font-family: var(--font);
    color: var(--fg);
}
h3 {
    font-family: var(--font);
    color: var(--fg);
}
h4 {
    font-family: var(--font);
    color: var(--fg);
}
h5 {
    font-family: var(--font);
    color: var(--fg);
}
p {
    font-family: var(--font);
    color: var(--fg);
}

.content {
    text-align: center;
}

td, th {
    outline-style: solid;
    outline-width: 2px;
    outline-color: white;
    padding: 5px;
    color: var(--fg);
    font-family: var(--font);
}

table {
    margin-left: auto;
    margin-right: auto;
}